In [2]:
a = 50
print(a)

50

In [3]:
a = "김영환"
print(a)

김영환

In [4]:
a = 0b00101 # 2진수
print(a)
a = 0o011 # 8진수
print(a)
a = 0x011 # 16진수
print(a)

5
9
17

In [5]:
# 복소수
a = 2 + 3j

In [6]:
# 문자열
# """ """ 여러줄 문자열
a = """구름에 달가듯이
가는 나그네"""

In [7]:
a = str(5) + "abc"
print(a)

5abc

In [8]:
# 포매팅 문자열
a = "파이썬 프로그래밍"
print( a[0],a[1],a[-1],a[-2] )

파 이 밍 래

In [9]:
# 슬라이싱
# 시작이상 : 끝미만 : 간격(1)
#      시작번호 생략 -> 0부터
#      끝번호 생략 -> 끝까지
print( a[0:3] ) # 파이썬
print( a[ :3] ) # 파이썬
print( a[4:] ) # 프로그래밍

파이썬
파이썬
프로그래밍

In [10]:
# 문자열 포매팅
# 1.  "...." % (변수...)
name = "홍길동"
age = 30
print(  "%s의 나이는 %d" %(name,age)  )
# 2 ".....".format(변수...)
print(  "{}의 나이는 {}".format(name,age)  )
# 3 f"...."
print(  f"{name}의 나이는 {age}. {2022-age}년에 태어남"  )

홍길동의 나이는 30
홍길동의 나이는 30
홍길동의 나이는 30. 1992년에 태어남

In [11]:
a = "홍길동"
a.find("길동") # 1
a.find("길똥") # -1

-1

In [12]:
# LIST
arr = [1,3,5,7,9,11,13]
len( arr )
print( arr[0] )

1

In [13]:
학생이름 = ['홍','김','박']
교수이름 = ['최','홍']
print(학생이름 + 교수이름)
print(학생이름)

['홍', '김', '박', '최', '홍']
['홍', '김', '박']

In [14]:
a = 10000
a *= 10000 # 억
a *= 10000 # 조
a *= 10000 # 경
a *= 10000 # 해
a *= a
print(a)
print(type(a))

10000000000000000000000000000000000000000
<class 'int'>

In [15]:
arr2 = [
    [1,2,3],
    [4,5,6],
]
arr2

[[1, 2, 3], [4, 5, 6]]

In [16]:
arr2[0][2]

3

In [17]:
# 리스트 삭제1 del 연산자
arr = [1,3,5,7,9]
del arr[0] # 순번으로 삭제
arr  # [3,5,7,9]
# 리스트 삭제 2 pop(순번), 순번 없으면 마지막 요소 삭제
print(arr.pop(1)) # 순번으로 삭제.삭제된 값을 반환
arr # [3,7,9]
# 삭제 3 remove(값)값으로 삭제
arr.remove(7) # 7이라는 값을 찾아서 삭제.같은값이 여러개이면 첫번째가 삭제
arr # [3,9]
arr.remove(7) # 없는 값을 삭제시 오류발생

5

ValueError: list.remove(x): x not in list

In [58]:
# 요소 추가. append(v), insert(n , v)
mylotto = [] #빈리스트

import random
r = random.randint(1,45) # 1~45사이 난수 생성
mylotto.append(r)
r = random.randint(1,45) # 1~45사이 난수 생성
mylotto.append(r)
r = random.randint(1,45) # 1~45사이 난수 생성
mylotto.append(r)
r = random.randint(1,45) # 1~45사이 난수 생성
mylotto.append(r)
r = random.randint(1,45) # 1~45사이 난수 생성
mylotto.append(r)
r = random.randint(1,45) # 1~45사이 난수 생성
mylotto.append(r)
print(mylotto)

[5, 14, 5, 31, 42, 10]

In [60]:
mylotto.sort(reverse=True) # 원본 정렬. 오름차순,내림차순: reverse=True
print(mylotto)

[42, 31, 14, 10, 5, 5]

In [61]:
회원 = ['홍','김','박']
회원.sort()
회원

['김', '박', '홍']

In [52]:
# list = 100
print(a)

10000000000000000000000000000000000000000

In [54]:
!dir

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: F8DC-1ABF

 C:\anaconda_workspace 디렉터리

2022-11-21-월  오후 02:46    <DIR>          .
2022-11-21-월  오후 02:46    <DIR>          ..
2022-11-21-월  오전 11:17    <DIR>          .ipynb_checkpoints
2022-11-21-월  오후 02:46             8,685 day_01.ipynb
               1개 파일               8,685 바이트
               3개 디렉터리  103,513,313,280 바이트 남음

In [65]:
# 튜플
t1 = (100,) 
type(t1)

tuple

In [71]:
def f1():
    return 50,70

a,b = f1()
print(a)
print(b)

b,a = a,b
print(a)
print(b)

50
70
70
50

In [81]:
# 요소 추가. add(v)
mylotto = set()

import random
r = random.randint(1,45) # 1~45사이 난수 생성
mylotto.add(r)
r = random.randint(1,45) # 1~45사이 난수 생성
mylotto.add(r)
r = random.randint(1,45) # 1~45사이 난수 생성
mylotto.add(r)
r = random.randint(1,45) # 1~45사이 난수 생성
mylotto.add(r)
r = random.randint(1,45) # 1~45사이 난수 생성
mylotto.add(r)
r = random.randint(1,45) # 1~45사이 난수 생성
mylotto.add(r)
print(mylotto)

{33, 7, 11, 43, 23}

In [83]:
mylotto = list(mylotto)
mylotto.sort()
mylotto

[7, 11, 23, 33, 43]

In [84]:
# 집합 연산
전체직원 = {'홍','김','박','이'}
참석자 = {'이','김'}
전체직원 - 참석자

{'박', '홍'}

In [87]:
점수 = {'홍':70,'김':80,'박':90}
type(점수)
점수['홍'] = 88
점수

{'홍': 88, '김': 80, '박': 90}

In [96]:
# if
money = False
if money :
    print("택시타고감")
    print("택시타고감")
else:
    print("걸어감")
    print("걸어감")

걸어감
걸어감

In [98]:
nums = [1,2,3,4,5,6,7,8,9]
for i in nums:
    print(i)

1
2
3
4
5
6
7
8
9

In [1]:
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [6]:
# 함수
def myminus(a,b):
    c = a-b

d = myminus( 20,10)
print(d)

None

In [7]:
# 파라미터정의 순서대로 값 전달됨. 
# 위치매개변수(positional parameter)
def myminus(a,b): 
    return a - b
myminus( 1,2 )

-1

In [18]:
# 디폴트 매개변수(positional parameter)
# 기본값이 있는 매개변수 
# a는 위치매개변수, b는 기본 매개변수
def myminus(a, b=0): 
    return a - b
myminus( 1,2 )
myminus( 1 )
myminus(b=3,a=2) # 키워드 매개변수
# myminus( )

TypeError: myminus() missing 1 required positional argument: 'a'

In [16]:
# 평균계산
# 위치매개변수 가변매개변수: tuple타입으로 전달
def get_avg( *nums ):
    print(type(nums))
    return sum(nums) / len(nums)

get_avg( 70,80,90,)
get_avg( 70,80,90,70,60)

<class 'tuple'>
<class 'tuple'>

74.0

In [25]:
# 키워드 매개변수 가변매개변수: 사전타입
def get_avg2( **nums ):
#     print(type(nums),nums)
    return sum(list(nums.values())) / len(nums.values())

print(get_avg2(영어=70,수학=80,국어=90))
print(get_avg2(영어=70,수학=80,과학=80))

80.0
76.66666666666667

In [33]:
# 변수 읽을때엔 로컬검색 후 전역검색
# 변수 쓸때엔 로컬에 쓰기
count = 0
def inc():
    global count # count변수는 전역변수다 선언
    count = count + 5
    print("count=",count)

inc()
print("전역 count=",count)
inc

count= 5
전역 count= 5

In [37]:
def pv(a):
    b = 0
    b += a
    def get_b():
        return b
    def set_b(c):
        nonlocal b
        b += c # 누적
    
    return (get_b, set_b)

gb,gc = pv(5)
gb()
gc(9)
gb()

14

In [5]:
# 모듈
import myutil
myutil.add(1,2)
# 모듈 별명
import myutil as mu
print(mu.add(1,2))
# 모듈명 제외 함수명만 사용
from myutil import add
print(add(1,2))
# 함수명 별명
from myutil import add as myadd
print(myadd(1,2))
# 모듈내 모든 함수 로딩하기
from myutil import *
print( sub(1,2) )

3
3
3
-1